html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: Roboto;
}
section {
  margin: 100px 50px;
}
#form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  border: 1px solid #00000026;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 3px 5px 24px 0px #00000026;
}
input,
select,
button {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border-width: 1px;
}
input:invalid,
select:invalid {
  background-color: #cc16160f;
}
button {
  cursor: pointer;
}

#gallery-container {
  position: relative;
  width: 500px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  overflow: hidden;
}
#imgs-container {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
}
.img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  flex-grow: 0;
  flex-shrink: 0;
}

.op-img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.newImageBtn {
  background-color: #e4e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.newImageBtn p {
  font-size: 8rem;
  color: #909090c7;
  user-select: none;
}
